{% extends 'base.html' %}

{% block title %}{{ tutor.name }}{% endblock %}

{% block container %}
<main class="container mt-3">
  {% include "form_alert.html" %}
  <div class="row mt-5">
    <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
      <form action={{ url_for("book_tutor", tutor_id=tutor.uid, day=day, time=time) }} method="post" class="card mb-3">
        {{ form.csrf_token() }}
        <div class="card-body text-center pt-5">
          {% if tutor.photo %}
            <img src="{{ tutor.photo }}" class="mb-3" width="95" alt="">
          {% else %}
            <img src={{ url_for('static', filename='pict 1.png') }} class="mb-3" width="95" alt="">
          {% endif %}

          <h2 class="h5 card-title mt-2 mb-2">{{ tutor.name }}</h2>
          <p class="my-1">Запись на пробный урок</p>
          <p class="my-1">{{ form.client_day.default }}, {{ form.client_time.default }}</p>
        </div>
        <hr />
        <div class="card-body mx-3">
            {{ form.client_name.label(class="mb-1 mt-2") }}
            {{ form.client_name(class="form-control", placeholder="Ваше имя", pattern="[а-яА-Я]{3,}") }}
            {{ form.client_phone.label(class="mb-1 mt-2") }}
            {{ form.client_phone(class="form-control", placeholder="9261234567") }}
            {{ form.client_day(value=day) }}
            {{ form.client_time(value=time) }}
            {{ form.tutor_id(value=tutor.uid) }}

            {{ form.submit(class="btn btn-primary btn-block mt-4") }}
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}